@charset "UTF-8";

header { height: 60px; background-color: black;
  opacity: 0.7;
	position: fixed;
	width: 100%;
 }
header > h1 { margin: 0px auto;
	width: 1200px;
	padding: 0 100px;
	color: white;}

.img-black {
  background-color: black;
  color: white;
}

#main-img {
	background: url('main.jpg');
  height: 600px; width: 1200px;
  margin: 0 auto;
}
.main-title { height: 100px; text-align: center;}

#content { margin-top: 50px; overflow: hidden;}
.main-project {float: left; border: 1px solid black;}
.main-project-height { height: 300px;}

#bn { height: 100px;}


*{margin:0;padding:0;}
	ul,li{list-style:none;}
	#slide{height:300px;position:relative;overflow:hidden;}
	#slide ul{width:400%;height:100%;transition:1s;}
	#slide ul:after{content:"";display:block;clear:both;}
	#slide li{float:left;width:25%;height:100%;}
	#slide li:nth-child(1){background:#faa;}
	#slide li:nth-child(2){background:#ffa;}
	#slide li:nth-child(3){background:#faF;}
	#slide li:nth-child(4){background:#aaf;}
	#slide input{display:none;}
	#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
	#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
	#pos1:checked~ul{margin-left:0%;}
	#pos2:checked~ul{margin-left:-100%;}
	#pos3:checked~ul{margin-left:-200%;}
	#pos4:checked~ul{margin-left:-300%;}
	#pos1:checked~.pos>label:nth-child(1){background:#666;}
	#pos2:checked~.pos>label:nth-child(2){background:#666;}
	#pos3:checked~.pos>label:nth-child(3){background:#666;}
	#pos4:checked~.pos>label:nth-child(4){background:#666;}
