.slide {width: 50px;
overflow: hidden; margin: 0 auto; position: relative;}
.slide img {display: block;}
.slide ul{list-style: none; font-size: 0; width:250px;}
/* .slide ul li{display: inline-block;} */
/* .slide button.prev {position: absolute; */
/* left: 0; top: 120px;} */
/* .slide button.next {position: absolute; */
/* left: 0; top: 120px;} */
