   /* 추가 요소 */

section {
	/* border: solid red; */
	text-align: center;
	color: #1B3453;
	/* font-weight: bold; */
	font-size: 20px;
	
	
}

*{
	box-sizing: border-box;
}

.project, #program {
	margin-bottom: 30px;
} 

#program {
	text-align: left;
	margin-left: 20px;
}

table td {
	width:150px;
	/* border-bottom: dashed purple; */
}

.tb-background {
	background: #EEEEEE;
	z-index: 1px;
	height: 400px;
}

.maintxt {
	background: #EEEEEE;
	height: 300px;
	padding-top: 50px;
}

.category {
	padding-top: 20px;
}

 ::selection {/*  color:#1B3453;  */background:#DD1F26; }
::-moz-selection { color:#1B3453; background:#DD1F26; } /* firefox */
