/* container CSS 시작 */

.container {}

/* container CSS 종료 */

/* MENU Link Hover Effect CSS 시작 */

.top_link li a, .top_link li a:visited, .top_link li a:hover, .top_link li a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.2s color ease;
  text-decoration: none;
  color: white;
}

a.after:after {
  content: "";
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

a.after:after {
  bottom: -0.25em;
}

a.after:after {
  height: 5px;
  height: 0.2rem;
  width: 0;
  background: #d73444;
}

a.menu:after {
  left: 0;
}

a.after:hover:after {
  width: 100%;
}

/* MENU Link Hover Effect CSS 종료 */

/*헤더 CSS 시작*/
.top_menu {
  padding: 10px 10px 10px 10px;
}

body {
  margin: 0;
}

.top_logo_wrap {
  float: left;
  display: inline-block;
}



#top_layout {
  background-color: #000;
}

#logo {
  height: 42px;
}

.top_link>li {
  float: right;
}

.logo_name {
      float: left;
      /* margin:0 auto; */
}

#logo_h1 {
  margin-bottom: 0px;
}

#logo_img {
      margin: 14px 0px 0px 0px;
      float: left;
}

.top_wrap {
  background-color: black;
  margin: auto;
  width: 1200px;
  overflow: hidden;
}

.top_utile_wrap {
  position: relative;
  z-index: 999;
}

.top_utile_wrap>ul {
  font-weight: bold;
  font-size: 1em;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

.top_link>li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;/
  text-decoration: none;
}

.top_link>li a:hover {}

/* 헤더 search button CSS 시작 */

body {
  color: #fff;
}

#content {
  position: absolute;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  margin-left: 226px;
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input {
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  font-family: Roboto;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 37px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 10px;
  margin-left: 19px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  margin-top: 1px;
  margin-left: -6px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 3px;
  background-color: #fff;
  margin-top: 1px;
  margin-left: -6px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0px 22px 0 13px;
  width: 231px;
  height: 40px;
  border: 3px solid #FFFFFF;
  border-radius: 0;
  background: none;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  margin-top: 2px;
}

/* search button CSS 종료*/

/*헤더 CSS 종료*/

/* 메인 이미지 시작 */

.img {
  z-index: 1;
  top: 0;
  position: absolute;
  width: 100%;
  margin: auto;
  float: left;
  height: 720px;
}

/* 메인 이미지 종료*/

/* 메인 문구 시작 */

/* 메인 문구 종료 */

/*푸터 CSS 시작*/

#foot_layout {
  width: 100%;
  background-color: #1B3453;
  text-align: center;
  padding: 60px 20px 30px 20px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.foot_wrap {
  width: 1200px;
  text-align: left;
  padding: 0 250px 0 170px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.foot_utile_wrap {
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
}

.foot_link {
  display: inline-block;
  float: left;
}

.foot_link li {
  margin-right: 30px;
  display: inline-block;
  float: left;
}

.foot_link li a {
  font-weight: 400;
  font-size: 16px;
  color: #ffff;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
}

 .foot_wrap address {
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  font-style: normal;
  color: #EBEDF3;
  line-height: 20px;
  padding: 5px 0;
  display: inline-block;
}

/*푸터 CSS 종료*/
