/* container CSS 시작 */
.container {
  /* width: 1200px; */
}
/* container CSS 종료 */

/* MENU Link Hover Effect CSS 시작 */
.top_utile_wrap {
  margin: 3em 0;
}

.top_link li a, .top_link li a:visited, .top_link li a:hover, .top_link li a:active {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: 0.2s color ease;
  text-decoration: none;
  color: white;
}

a.after:after {
  content: "";
  transition: 0.2s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}

a.after:after {
  bottom: -0.25em;
}

a.after:after {
  height: 5px;
  height: 0.2rem;
  width: 0;
  background: #d73444;
}

a.menu:after {
  left: 0;
}

a.after:hover:after {
  width: 100%;
}
/* MENU Link Hover Effect CSS 종료 */


/*헤더 CSS 시작*/

.top_logo_wrap {
  width: 1200px;
  margin: auto;
  display: inline-block;
}

#logo {
  margin: auto;
  height: 42px;
  display: inline-block;
}

.top_link>li {
  float: right;
}

#logo_list {
  float: left;
}

.top_wrap {
  /* background-color: #D93732 */
}

.top_utile_wrap {
  position: relative;
  z-index: 999;
  width: 1200px;
  margin: auto;
}

#top_layout {
  /* border: solid 1px blue; */
}

.top_utile_wrap>ul {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  font-size: 1em;
  width: 1200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #D93732; */
}

.top_link>li a {
  font-family: 'Roboto';
  display: block;
  color: white;
  text-align: center;
  /* padding: 9px 29px; */
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.top_link>li a:hover {
  /* background-color: #B03538; */
}

/*헤더 CSS 종료*/



/* 메인 이미지 시작 */

.img {
  z-index: 1;
  top: 0;
  position: absolute;
  /* max-width: 1200px; */
  /* position: relative; */
  width: 100%;
  margin: auto;
  float: left;
  height: 780px;
}

/* 메인 이미지 종료*/

/*푸터 CSS 시작*/

#foot_layout {
  /* border: 1px solid red; */
  width: 100%;
  background-color: #2C3339;
  text-align: center;
  padding: 60px 20px 30px 20px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  /* position: fixed; */
  /* left: 0; */
  /* bottom: 0; */
}

#foot_layout .foot_wrap {
  /* border: 1px solid blue; */
  width: 1200px;
  /* background: url(../../images/inc/foot_logo.png) no-repeat left top; */
  /* background-image: url(../../images/inc/foot_logo.svg),none; */
  text-align: left;
  padding: 0 250px 0 170px;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

#foot_layout .foot_wrap .foot_utile_wrap {
  /* border: 1px solid yellow; */
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  display: inline-block;
  box-sizing: border-box;
}

#foot_layout .foot_wrap .foot_utile_wrap .foot_link {
  /* border: 1px solid green; */
  display: inline-block;
  float: left;
}

#foot_layout .foot_wrap .foot_utile_wrap .foot_link li {
  /* border: 1px solid white; */
  margin-right: 30px;
  display: inline-block;
  float: left;
}

#foot_layout .foot_wrap .foot_utile_wrap .foot_link li a {
  /* border: 1px solid pink; */
  font-weight: 400;
  font-size: 16px;
  color: #9ea3a7;
  line-height: 20px;
  display: inline-block;
}

#foot_layout .foot_wrap address, #foot_layout .foot_wrap .copy {
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  font-style: normal;
  color: #EBEDF3;
  line-height: 20px;
  padding: 5px 0;
  display: inline-block;
  font-family: 'ntk', 'Malgun Gothic', '맑은 고딕', 'Dotum', 'arial', 'sans-serif';
}

/*푸터 CSS 종료*/
