<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="challenge.dao.TrainerDao">
	<resultMap type="Trainer" id="TrainerMap">
		<id column="trnno" property="tno"/>
		<result column="trnint" property="introduce"/>
		<result column="trncar" property="career"/>
		<result column="trntime" property="time"/>
		<result column="trnacnt" property="account"/>
		<result column="trnbank" property="bank"/>
		<result column="trncoin" property="coin"/>
	</resultMap>

	<select id="selectList" resultMap="TrainerMap" parameterType="map">
		select trnno, trnint, trncar, trntime, trnacnt, trnbank, trncoin
		from TRN
		order by trnno asc
		<!-- limit #{startRowNo}, #{pageSize} -->
	</select>

	<!-- <insert id="insert" parameterType="Trainer" useGeneratedKeys="true"
		keyColumn="uno" keyProperty="userNo">
		insert into USER(uname, sex, mail, pwd, uphon, upath, utype)
        values(#{'라라'},#{'여'},#{'user08@'},password(#{'1111'}),#{'123-456'},#{'popo.jpg'},#{'2'});
		insert into USER(uname, sex, mail, pwd, uphon, upath, utype)
		values('나나', '여', 'USER08@', password('1111'), '1234-5678', 'popo.jpg', '2');
		insert into USER(uname, sex, mail, pwd, uphon, upath, utype)
		values(#{name},#{sex},#{email},password(#{password}),#{userPhone},#{userPath},#{userType});
	</insert>
 -->
	<!-- <select id="selectOne" parameterType="int" resultMap="TrainerMap">
		select uno, uname, sex, mail, pwd, uphon, upath, utype
		from USER
		where uno=#{value}
	</select> -->

	<!-- <update id="update" parameterType="Trainer">
		update USER set
		uname=#{name},
		sex=#{sex},
		mail=#{email},
		pwd=password(#{password}),
		uphon=#{userPhone},
		upath=#{userPath},
		utype=#{userType}
		where uno=#{userNo}
	</update> -->

	<!--  <delete id="delete" parameterType="int"> 
	 delete from USER where uno=#{value} 
		</delete> -->
</mapper>