@charset "UTF-8";

body {
  margin: 0;
}
.sm-container { /* 전체 틀 */
    width: 1200px;
    margin: 0 auto;
}
.sm-margin-none {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

#sm-btn-1 { /* 빨간색 버튼 */
  width:100px;
    background-color: #DD1F26;
    border: none;
    color:#fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 3px;
    cursor: pointer;
    border-radius:10px;
}

#sm-back { /* 로고 뒷배경 */
  padding-top: 130px;
}
.sm-profile {
border:1px solid gray;
	margin-top: 15px;
    width: 255px;
    padding-top: 20px;
    float:left;
}
.sm-top-bar-white {
  font-size: small;
  top:0px;
  height: 128px;
  width: 100%;
  background-color: white;
	position:fixed;
  display: inline-block;
  border-bottom: 1px solid rgb(102, 102, 102, 0.2);
  z-index: 1;
}

.sm-mypage{
    overflow:hidden;
    text-align: center;
}
.sm-mypage-body {
    float:left;
    width:73.5%;
    margin-top:13px;
    margin-left:5%;
    text-align: left;
}

.sm-tab-down {
  height: 250px;
  float: left;
  align: center;
  overflow: auto;
}
.sm-mypage-bar{
    float:left;
    width:70%;
    margin-top:15px;
    margin-left:5%;
    margin-bottom: 15px;
    border:1px solid gray;
    padding: 20px;
}

ul {list-style:none;}
.sm-mypage-bar ul{margin:0;padding:0;}
.sm-mypage-bar ul li{width:33%; display: inline-block; text-align: center;}
.sm-mypage-bar ul li b{display:block;}


/* 상단 메뉴바 */
.sm-menubar{
  position: fixed;
  background-color: white;
  z-index: 1;


  top: 70px;
  border:none;
  border:0px;
  margin:0px;
  padding:0px;
  font-size:small;
  font-weight:bold;
  margin-top: 8px;
}
.sm-menubar ul{
  height:50px;
  list-style:none;
  margin:0;
  padding:0;
}
.sm-menubar li{
  float:left;
  padding:0px;
}
.sm-menubar li a{
  color:black;
  display:block;
  font-weight:normal;
  line-height:50px;
  margin:0px;
  padding:0px 25px;
  text-align:center;
  text-decoration:none;
}
.sm-menubar li a:hover, .sm-menubar ul li:hover a{
  background: rgb(71,71,71);
  color:#FFFFFF;
  text-decoration:none;
}
.sm-menubar li ul{
  background: rgb(109,109,109);
  display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
  height:auto;
  padding:0px;
  margin:0px;
  border:0px;
  position:absolute;
  width:200px;
  z-index:200;
}
.sm-menubar li:hover ul{display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */}
.sm-menubar li li {
  background: rgb(109,109,109);
  display:block;
  float:none;
  margin:0px;
  padding:0px;
  width:200px;
}
.sm-menubar li:hover li a{background:none;}
.sm-menubar li ul a{
  display:block;
  height:50px;
  font-size:12px;
  font-style:normal;
  margin:0px;
  padding:0px 10px 0px 15px;
  text-align:left;
}
.sm-menubar li ul a:hover, .sm-menubar li ul li:hover a{
  background: rgb(71,71,71);
  border:0px;
  color:#ffffff;
  text-decoration:none;
}
.sm-menubar p{clear:left;}



/* 마이페이지 탭 메뉴 */
.sm-tab {overflow: hidden;}
.sm-tab button {
    background-color: inherit;
    border: 1px solid gray;
    border-bottom: none;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.sm-tab button:hover {background-color: #ddd;}
.sm-tab button.active {background-color: #ccc;}
.sm-tabcontent {
    display: none;
    border: 1px solid gray;
    float: left;
    width: 97.3%;
    text-align: center;
    margin-bottom: 30px;
}
.sm-tabcontent.sm-current {display: inline;}
