* {
  box-sizing: border-box;
}

.container {
  border: 1px solid black;
  margin: 0 auto;
  width: 1200px;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.timeline-daily-feed {
  border: 1px solid blue;
  margin: 25px;
  padding: 40px;
  background-color: gray;
}

#program-day {
  border: 1px solid yellow;
}

#program-name {
  border: 1px solid yellow;
  
}
