@charset "UTF-8";

.container {
    width: 1200px;
    margin: 0 auto;
}

.profile {
	margin-top: 30px;
	border: 1px solid black;
    width: 18%;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
}
.top-bar {
	width: 100%;
	hight: 100px;
	background-color: black;
	padding:10px; padding-left:20px;
}
.top-bar2 {
	position:relative;
	margin-bottom:0; margin:0;
	font-size:1.5em;color:white;font-weight:bold;display:inline;}

.mypage{
    overflow:hidden;
    text-align: center;
}
.mypage-body {
    float:left;
    width:70%;
    margin-top:30px;
    margin-left:5%;
    border:0px solid black;
    text-align: left;
}
.mypage-body ul{margin:0;padding:0;font-size:0.8em;color:gray;}
.mypage-body ul li{float:left;width:20%;}
.mypage-bar{
    float:left;
    width:70%;
    margin-top:30px;
    margin-left:5%;
    border:1px solid black;
    padding: 20px;
}
ul {list-style:none; overflow:hidden;}
li {float:left;}
.mypage-bar ul{margin:0;padding:0;}
.mypage-bar ul li{width:33.3%;}
.mypage-bar ul li b{display:block;}
hr.lll{width:0px; height:100%;}


.margin-none {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.menubar{
border:none;
border:0px;
margin:0px;
padding:0px;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:small;
font-weight:bold;
}

.menubar ul{
background: rgb(109,109,109);
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{
background: rgb(109,109,109);
color:#cccccc;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}

