@charset "UTF-8";

body {
  margin: 0;
}
.container { /* 전체 틀 */
    width: 1200px;
    margin: 0 auto;
}

#back { /* 로고 뒷배경 */
  height: 55px;
  width: 100%;
  background-color: black;
}
.profile {
border:1px solid gray;
	margin-top: 15px;
    width: 18%;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    float:left;
}
.top-bar {
	position:relative;
  margin: 10px;
  display: inline-block;
	font-size:1.5em;color:white;font-weight:bold;
}

.mypage{
    overflow:hidden;
    text-align: center;
}
.mypage-body {
    float:left;
    width:73.5%;
    margin-top:30px;
    margin-left:5%;
    text-align: left;
}

.tab-down {
  height: 250px;
  float: left;
  align: center;
  overflow: auto;
}
.mypage-bar{
    float:left;
    width:70%;
    margin-top:15px;
    margin-left:5%;
    border:1px solid gray;
    padding: 20px;
}

ul {list-style:none; overflow:hidden;}
li {float:left;}
.mypage-bar ul{margin:0;padding:0;}
.mypage-bar ul li{width:33.3%;}
.mypage-bar ul li b{display:block;}
hr.lll{width:0px; height:100%;}


.margin-none {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.menubar{
/* position: fixed; */
top: 0px;
left: 180px;
border:none;
border:0px;
margin:0px;
padding:0px;
font-size:small;
font-weight:bold;
}

.menubar ul{

height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
padding:0px;
}

.menubar li a{

color:black;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

.menubar p{
clear:left;
}
