#container {
  width: 1200px;
  margin: auto;
  position: relative;
}

* {
  box-sizing: border-box;
}

.img-responsive {
  overflow: hidden;
  margin: auto;
  width: 1200px;
  height: 360px;
  background-color: black;
}

#program-title {
  text-align: center;
  display: inline-block;
  width: 93.5%;
  /* height: 100%; */
  font-size: 53px;
  color: white;
  /* background-color: black; */
  position: relative;
  z-index: 1;
}

.row-program-timeline {
  border: solid 1px blue;
}

#row-program-banner {
  width: 1200px;
  background-color: black;
  position: absolute;
  bottom: 140px;
  z-index: 2;
    font-size: 55px;
    float: left;
}

#row-program-image {
  position: relative;
  z-index: 3;
}

#timeline-daily-feed {
  margin: 25px 25px 0px 25px;
  padding: 40px;
  border: solid 1px red;
  background-color: gray;
}

#program-schedule-title {
    margin-bottom: 15px;
}

#program-schedule-content {
  margin-left: 15px;
  font-size: 17px;

}

#timeline-comment {
  margin: 0px 25px 25px 25px;
  padding: 15px;
  border: solid 1px green;
}


.control-prev-icon
.control-next-icon{
  /* height: 100px;
  width: 100px; */
  /* outline: black;
  background-size: 100%, 100%;
  background-image: none; */
  /* text-align:left; */
  /* bottom: 0px; */
  /* right: 0px; */
  /* position: relative; */
  /* z-index: 2; */
}

.control-next-icon:after {
  z-index: 2;
  /* background-color: gray; */
  content: '>';
  font-size: 52px;
  color: white;
  float: right;

}
.control-prev-icon:after {
    /* background-color: gray; */
  content: '<';
  font-size: 52px;
  color: white;
  float: left;
}
